---
import "@/styles/global.css";
const { title } = Astro.props;

import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <div class="block"><Navbar /></div>
		<main class="flex items-center justify-center flex-col">
			<slot />
		</main>
		<footer></footer>
	</body>
</html>

<style is:global>
	:root {
		--text-dark: #ffffff;
		--text-light: #000000;
		--default-dark: #000000;
		--default-light: #ffffff;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		font-family:
			system-ui,
			-apple-system,
			sans-serif;
		color: var(--text-dark);
		background-color: var(--default-dark);
	}
</style>
